html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.progress-bar {
  display: flex;
  color: white;
}

.logo {
  border-radius: 10%;
}

.connect-wallet {
  width: 20px;
}

@media only screen and (max-width: 600px) {
  .btn {
    font-size: 12px;
  }

  .title {
    margin-bottom: 20px;
  }

  .footer {
    font-size: small;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
